<!DOCTYPE html>
<html>
<head>
	<title>Your Game Library</title>
</head>
<body>

<h1> Your Game Library!</h1>

<% if (games.length == 0) { %>
	<p>Your Library seems to be empty! That's okay, you can add to the library!</p>
<% } %>

<% for (var i = 0; i < games.length; i++) { %>

<h1><%= games[i].name %></h1>
<p><%= games[i].genre %></p>
<p><%= games[i].Rating %> / 5</p>
<%- parser(games[i].review) %>

<!--<p>Edit | <a href="#" onClick='alert("Delete: <%= games[i].name %>")' >Delete</a></p>-->
<p>Edit | <a href="" onClick="return abc(<%= games[i].id %>);" >Delete</a></p>

<hr>

<% } %>

<script>
function abc(name) {
        alert("Delete: " + name);
        <% del(1) %>
}
</script>

<p>To add to the library, click <a href="/">here</a>.</p>

</body>
</html>
